/* ============================================
   Подключение шрифтов
   ============================================ */
@font-face {
    font-family: 'Anton';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('anton-regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Akrobat';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('akrobat-semibold.woff2') format('woff2');
}
